div.section.about-container
  div.title-holder
    div.title ~ About ~
  div.about-content
    |I'm an avid rock climber, a stickler for the details, and a generally goofy fella. After a climbing injury in fall '12, I moved back to South Carolina where I met the guys at the Iron Yard Academy.  They convinced me JavaScript was going to be awesome.