div.footer-container
  ul.footer-link-list
    li.footer-link
      a(href="#/") Home
    li.footer-link
      a(href="#/work") Work
    li.footer-link
      a(href="#/about") About
    li.footer-link
      a(href="mailto:jake.hendley25@gmail.com") Contact
    br.responsive-break
    li.footer-copyright
      | © Jake Hendley 2014