div.header
  a.logo(href="javascript:void(0);") 
    span.first-letter J
    span.second-letter H
  h2
    a.work(href="#/work") Work 
  h2
    a.about(href="#/about") About 
  h2
    a.contact(href="#/contact") Contact
