div.section.home-container.active
  div.title-holder
    div.title ~ I Build Web Apps ~

  div.landing-page-subtitle-holder
    div.landing-page-subtitle
      | I'm Jake, and I love building beautifully complex software for the Web. 
      | I'm a fullstack developer with an affinity for JavaScript MV* and RAILS APIs.

  div.landing-page-links
    div.work-link
      a(href="#/work") Check out my work