div.section.home-container.active
  div.landing-page-title-holder
    div.landing-page-title I Build Web Apps

  div.landing-page-subtitle-holder
    div.landing-page-subtitle
      | I'm Jake, and I love building beautifully complex software for the Web. 
      br
      | I'm a fullstack developer with an affinity for browser-centric MV* 

  div.landing-page-link
    a(href="#/work") Check out my work