h1 Main

include work
include about
include contact



//- :markdown
//-         This repo is an opinionated scaffolding, utilizing **Coffeescript** (*because screw semi-colons*), **Browserify** (*because node is awesome*), **Gulp** (*because .pipe(task) is amazing*), and **Jade** templates (*because America*).