div.section.work-container
  div.title-holder
    div.title ~ Work ~

  div.work-showcase
    div.work-example
      div.work-title
        h1 woooork
        div.work-links
          a(href="http://www.github.com/jhendley25/GitHUD") Github
          span.link-spacer 
          a(href="http://www.jhendley25.github.io/GitHUD") Live Example
        //- div.github-ribbon 
        //-   span coooool
      div.work-desc
        | lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff
  div.work-showcase
    div.work-example
      div.work-title
        h1 woooork
        div.work-links
          a(href="http://www.github.com/jhendley25/GitHUD") Github
          span.link-spacer 
          a(href="http://www.jhendley25.github.io/GitHUD") Live Example
      div.work-desc
        | lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff

  div.work-showcase
    div.work-example
      div.work-title
        h1 woooork
        div.work-links
          a(href="http://www.github.com/jhendley25/GitHUD") Github
          span.link-spacer 
          a(href="http://www.jhendley25.github.io/GitHUD") Live Example
      div.work-desc
        | lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff
  div.work-showcase
    div.work-example
      div.work-title
        h1 woooork
        div.work-links
          a(href="http://www.github.com/jhendley25/GitHUD") Github
          span.link-spacer 
          a(href="http://www.jhendley25.github.io/GitHUD") Live Example
      div.work-desc
        | lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff
  div.work-showcase
    div.work-example
      div.work-title
        h1 woooork
        div.work-links
          a(href="http://www.github.com/jhendley25/GitHUD") Github
          span.link-spacer 
          a(href="http://www.jhendley25.github.io/GitHUD") Live Example
      div.work-desc
        | lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff
  div.work-showcase
    div.work-example
      div.work-title
        h1 woooork
        div.work-links
          a(href="http://www.github.com/jhendley25/GitHUD") Github
          span.link-spacer 
          a(href="http://www.jhendley25.github.io/GitHUD") Live Example
      div.work-desc
        | lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff lorem ipsum and stuff