div.section.work-container
  div.title-holder
    div.title ~ Work ~
  div.work-showcase
    div.work-example
      div.work-title
        h1 Dyno
        div.work-links
          a(href="https://github.com/jhendley25/generator-dyno") Github
          span.link-spacer |
          a(href="https://www.npmjs.org/package/generator-dyno") NPM
      div.work-desc
        :markdown
          This Yeoman Generator provides a nice set of defaults for ground-up web development, utilizing Coffeescript, Browserify, Gulp, and Jade templates.
  div.work-example-divider
    | ~ λ ~
  div.work-showcase
    div.work-example
      div.work-title
        h1 GitHUD
        div.work-links
          a(href="http://www.github.com/jhendley25/GitHUD") Github
          span.link-spacer |
          a(href="http://jhendley25.github.io/GitHUD") Live Example
      div.work-desc
        :markdown
          My first true foray into webapps.  GitHUD is a Backbone app that displays repository statistics and other data from Github's API.

  div.work-example-divider
    | ~ λ ~

  div.work-showcase
    div.work-example
      div.work-title
        h1 Portfolio
        div.work-links
          a(href="http://www.github.com/jhendley25/portfolio") Github
          span.link-spacer |
          a(href="http://www.jhendley25.github.io/#/work", title="you're already here") Live Example
      div.work-desc
        :markdown
          This portfolio is an implementation of the above [Dyno Generator](https://github.com/jhendley25/generator-dyno), and is a perfect example of over-engineering. Granted, the technologies used are better suited for large-scale webbapps, but I'll take any excuse to use beautiful technologies. 

  div.work-example-divider
    | ~ λ ~

  div.work-showcase
    div.work-example
      div.work-title
        h1 Client Work
      div.work-desc
        :markdown
          Since graduating from The Iron Yard Academy, I have been the lead developer on several projects. [Contact me](mailto:jake.hendley25@gmail.com) for more info.
  
  