@import "compass"

$bkgd-img: url('/images/repeating-wood-bkgd.jpg') repeat

body, * 
  font-family: sans-serif
  // background: #000
body
  background: $bkgd-img
  // background-size: 100%
a
  text-decoration: none

.wrapper 
  width: 960px
  margin: 0 auto
  border: 1px solid #ccc

.stage
  margin-top: 100px

.header
  width: auto
  position: fixed
  left: 0
  top: 20px
  height: 75px
  background: #03f
  padding-left: 10px
  @include border-radius(0 4px 4px 0)
  @include box-shadow(#000 1px 1px 1px)
  h1, h2
    display: inline
    margin: 0 10px
    padding: 0
  .work, .about, .contact
    color: #fff
  .logo
    font-size: 50px
    .first-letter
      color: #000
    .second-letter
      color: #ccc
      text-decoration: underline

.section
  display: none
.active
  display: block
