@import "compass"
@import "ribbon"
//crazy awesome media query stuff
//thanks to the sass way
//http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
$bkgd-img: url('/images/repeating-wood-bkgd.jpg') repeat
$break-small: 400px 
$break-medium: 700px 
$break-ipad: 768px
$break-large: 1024px

@mixin respond-to($media)
  @if $media == handhelds
    @media only screen and (max-width: $break-small)  
      @content
  @if $media == medium
    @media only screen and (max-width: $break-medium)  
      @content
  @if $media == ipad 
    @media only screen and (max-width: $break-ipad) 
      @content
  @else if $media == medium-screens 
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) 
      @content

body, * 
  font-family: sans-serif
  // background: #000
  @include box-sizing(border-box)
  margin: 0
body
  background: $bkgd-img
  // background-size: 100%
a
  text-decoration: none
  
.wrapper 
  width: 960px
  margin: 0 auto
  // border: 1px solid #ccc
.super-stage
  height: 70%
  width: 90%
  max-width: 1080px
  margin-top: 115px
  margin-left: 5%
  background: #000
  position: fixed
  .stage
    overflow: scroll
    background: #fff
    position: absolute
    left: 10px
    right: 10px
    top: 10px
    bottom: 10px
    padding-top: 15px
  .title-holder, .landing-page-subtitle-holder
    width: 100%
    height: auto
    // border: 1px solid black
    .title
      font-size: 60px
      @include respond-to(medium)
        font-size: 30px
      text-align: center
      margin-bottom: 15px
    .landing-page-subtitle
      font-size: 25px
      text-align: center
  .landing-page-links
    margin-top: 20px
    font-size: 25px
    width: 100%
    text-align: center


.header
  width: auto
  position: fixed
  left: 0
  top: 20px
  height: 75px
  background: #03f
  padding-left: 10px
  @include border-radius(0 4px 4px 0)
  @include box-shadow(#000 1px 1px 1px)
  a
    text-shadow: 2px 2px #000
  h1, h2
    display: inline
    margin: 0 10px
    padding: 0
  .work, .about, .contact
    color: #fff
  .logo
    font-size: 50px
    .first-letter
      color: #000
    .second-letter
      color: #ccc
      text-decoration: underline

.section
  display: none
.active
  display: block

.about-container
  .about-content
    font-size: 25px
    text-align: center

.work-container
  .work-showcase
    @include box-shadow(#000 1px 1px 1px)
    padding: 5px
    position: relative
    // height: auto
    height: 80px
    @include respond-to(medium)
      height: 120px
    @include respond-to(handhelds)
      height: auto
    .work-title
      width: 30%
      height: 100%
      h1
        margin-bottom: 15px
      position: relative
      display: inline-block
      // border: 1px solid blue
      @include respond-to(handhelds)
        text-align: center
        width: 100%
        height: auto
      .work-links
        .link-spacer
          margin: 0 3px

    .work-desc
      vertical-align: top
      width: 65%
      height: 100%
      position: relative
      left: 0
      display: inline-block
      // border: 1px solid blue
      @include respond-to(handhelds)
        width: 100%
        height: auto
  // .github-ribbon
  //   @include ribbon
    // @include 
    
.footer-container
  width: 100%
  max-width: 1080px
  // border: 1px solid white
  height: 60px
  position: absolute
  left: 0
  right: 0
  bottom: 0
  .footer-link-list
    list-style-type: none
    text-align: center
    .footer-link
      margin-right: 20px
    li
      display: inline
      color: #ccc
      a
        color: #ccc
.responsive-break
  display: none
  @include respond-to(handhelds)
    display: block


