html
  head
    link(rel="stylesheet", href="stylesheets/main.css")
    script(src="scripts/app.js")
  body
    //- The fixed header
    include includes/header
    div.stage
      //- The best content ever
      include includes/main
      //- The coolest footer you'll ever see
      include includes/footer