html
  head
    link(rel="stylesheet", href="stylesheets/main.css")
    script(src="scripts/app.js")
  body
    //- The fixed header
    include includes/header
    div.super-stage
      div.stage
        //- The best content ever
        
        include includes/home
        include includes/work
        include includes/about
        include includes/contact
        //- The coolest footer you'll ever see
    include includes/footer

        //- :markdown
        //- This repo is an opinionated scaffolding, utilizing **Coffeescript** (*because screw semi-colons*), **Browserify** (*because node is awesome*), **Gulp** (*because .pipe(task) is amazing*), and **Jade** templates (*because America*).