html
  head
    link(rel="stylesheet", href="stylesheets/main.css")
    script(src="scripts/app.js")
  body
    //- The fixed header
    include includes/header
    //- The best content ever
    include includes/content
    //- The coolest footer you'll ever see
    include includes/footer