html
  head
    link(rel="stylesheet", href="stylesheets/main.css")
    script(src="scripts/app.js")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700', rel='stylesheet', type='text/css')
    //- link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet', type='text/css')

  body
    include includes/header
    div.super-stage
      div.stage
        //- The best content ever
        include includes/home
        include includes/work
        include includes/about
    //- The coolest footer you'll ever see
    include includes/footer

        